# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.eslintcache
/backend/alco-backend/bin/Debug/netcoreapp3.1
/backend/.vs/backend
/backend/alco-backend/obj
/backend/alco-backend/Dtos
/backend/alco-backend/Data
/backend/alco-backend/Controllers/CommandsController.cs
/backend/alco-data/bin/Debug/netcoreapp3.1
/backend/alco-data/obj
/backend/alco-model/bin/Debug/netstandard2.0
/backend/alco-model/obj
